body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 10px; /* Adjusted to provide padding only at the top */
    background-color: #f8f8f8;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed; /* Added to keep the header fixed at the top */
    top: 0; /* Added to keep the header fixed at the top */
    width: 100%; /* Added to keep the header fixed at the top */
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 800px;
    margin: 160px auto 20px; /* Adjusted margin to accommodate for the fixed header */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #333;
}

.container p {
    color: #666;
    line-height: 1.6;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
h1{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    color: #442f05;
}

@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}
